:root{
  --mainBlue: #3c6382;
  --lightBlue: #ffffff ;
  --mainWhite: #f3f3f3;
  --mainDark: #e4e724;
  --mainYellow: #d8ab57 ;
}

.container{
background-color: #f3f3f3;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
  background: url(/img/bakery.jpeg);
  background-repeat: ;
  color: var(--mainDark) !important;  
}
.text-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0.3rem !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
  

}